:host {
  display: grid;
  gap: 1em;
  grid-template-rows: auto 1fr;
  height: 100%;

  .buttons {
    display: flex;
    gap: 1em;
  }

  canvas {
    display: block;
    height: 100%;
    aspect-ratio: 1;
    box-shadow: var(--shadow);
    background-color: var(--bg-main);
    color: var(--c-main);
  }
}
