<div class="control-panel">
  <p>
    4 dogs are placed in the corners of a square 10x10 meters. Each dog follows
    the dog to the left. Calculate a distance dogs go before meeting another
    dog.<br />
    A dog is a ball approximately 20cm in diameter.
  </p>

  <div class="buttons">
    <button type="button" (click)="reset()">Reset</button>
    <button *ngIf="!(started$ | async)" type="button" (click)="start()">
      Start
    </button>
    <button *ngIf="started$ | async" type="button" (click)="stop()">
      Stop
    </button>
  </div>

  <ng-container *ngIf="statistic$ | async as statistic">
    <ui-statistic>
      <ng-container title>Space</ng-container>
      <ui-statistic-line *ngIf="statistic.space.hasOwnProperty('on')">
        <ng-container label>State</ng-container>
        <ng-container value>
          {{ statistic.space.on ? "on" : "off" }}
        </ng-container>
      </ui-statistic-line>
      <ui-statistic-line *ngIf="statistic.space.hasOwnProperty('time')">
        <ng-container label>Time</ng-container>
        <ng-container value>
          {{ statistic.space.time | number : "1.3-3" }} s
        </ng-container>
      </ui-statistic-line>
      <ui-statistic-line *ngIf="statistic.space.hasOwnProperty('timeSpeed')">
        <ng-container label>Time speed</ng-container>
        <ng-container value>
          {{ (statistic.space.timeSpeed ?? 0) * 100 | number : "1.1-1" }} %
        </ng-container>
      </ui-statistic-line>
    </ui-statistic>

    <ui-statistic>
      <ng-container title>Dog 1</ng-container>
      <ui-statistic-line *ngIf="statistic.dog1.hasOwnProperty('l')">
        <ng-container label>Distance</ng-container>
        <ng-container value
          >{{ statistic.dog1.l | number : "1.2-2" }} m</ng-container
        >
      </ui-statistic-line>
    </ui-statistic>

    <ui-statistic>
      <ng-container title>Dog 2</ng-container>
      <ui-statistic-line *ngIf="statistic.dog2.hasOwnProperty('l')">
        <ng-container label>Distance</ng-container>
        <ng-container value>
          {{ statistic.dog2.l | number : "1.2-2" }} m
        </ng-container>
      </ui-statistic-line>
    </ui-statistic>

    <ui-statistic>
      <ng-container title>Dog 3</ng-container>
      <ui-statistic-line *ngIf="statistic.dog3.hasOwnProperty('l')">
        <ng-container label>Distance</ng-container>
        <ng-container value>
          {{ statistic.dog3.l | number : "1.2-2" }} m
        </ng-container>
      </ui-statistic-line>
    </ui-statistic>

    <ui-statistic>
      <ng-container title>Dog 4</ng-container>
      <ui-statistic-line *ngIf="statistic.dog4.hasOwnProperty('l')">
        <ng-container label>Distance</ng-container>
        <ng-container value>
          {{ statistic.dog4.l | number : "1.2-2" }} m
        </ng-container>
      </ui-statistic-line>
    </ui-statistic>
  </ng-container>
</div>

<tick-canvas [sizeX]="10" [sizeY]="10"></tick-canvas>
