:host {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--c-main);
  background-color: var(--bg-main);

  min-height: 100vh;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;

  lab-header {
    grid-column: 1/3;
  }

  div {
    padding: 0.5em 1em;
  }

  /* theme */
  --c-main: #111111;
  --c-link: #111166;
  --c-link-active: #000044;

  --bg-main: #ffffff;
  --bg-menu: #eeeeee;
  --bg-header: #dddddd;
}
