<div class="control-panel">
  <ui-form [formGroup]="form">
    <ng-container title>Parameters</ng-container>
    <ui-control>
      <ui-label>Angle to horizon</ui-label>
      <input ui-input type="number" formControlName="angle" />
    </ui-control>
    <ui-control>
      <ui-label>Mass, kg</ui-label>
      <input ui-input type="number" formControlName="mass" step="0.1" />
    </ui-control>
    <ui-control>
      <ui-label>Energy, J</ui-label>
      <input ui-input type="number" formControlName="energy" />
    </ui-control>
    <ui-control>
      <ui-label>Size horizontal, m</ui-label>
      <input ui-input type="number" formControlName="sizeX" />
    </ui-control>
    <ui-control>
      <ui-label>Size vertical, m</ui-label>
      <input ui-input type="number" formControlName="sizeY" />
    </ui-control>
  </ui-form>

  <div class="buttons">
    <button type="button" (click)="reset()">Set / Reset</button>
    <button *ngIf="!(started$ | async)" type="button" (click)="start()">
      Start
    </button>
    <button *ngIf="started$ | async" type="button" (click)="stop()">
      Stop
    </button>
  </div>

  <ng-container *ngIf="statistic$ | async as statistic">
    <ui-statistic>
      <ng-container title>Space</ng-container>

      <ui-statistic-line *ngIf="statistic.space.hasOwnProperty('on')">
        <ng-container label>State</ng-container>
        <ng-container value>{{
          statistic.space.on ? "on" : "off"
        }}</ng-container>
      </ui-statistic-line>
      <ui-statistic-line *ngIf="statistic.space.hasOwnProperty('time')">
        <ng-container label>Time</ng-container>
        <ng-container value
          >{{ statistic.space.time | number : "1.3-3" }} s</ng-container
        >
      </ui-statistic-line>
      <ui-statistic-line *ngIf="statistic.space.hasOwnProperty('timeSpeed')">
        <ng-container label>Time speed</ng-container>
        <ng-container value>
          {{ (statistic.space.timeSpeed ?? 0) * 100 | number : "1.1-1" }} %
        </ng-container>
      </ui-statistic-line>
    </ui-statistic>

    <ui-statistic>
      <ng-container title>Ball</ng-container>
      <ui-statistic-line *ngIf="statistic.ball.hasOwnProperty('speedX')">
        <ng-container label>Speed horizontal</ng-container>
        <ng-container value>
          {{ statistic.ball.speedX | number : "1.2-2" }} m/s
        </ng-container>
      </ui-statistic-line>
      <ui-statistic-line *ngIf="statistic.ball.hasOwnProperty('speedY')">
        <ng-container label>Speed vertical</ng-container>
        <ng-container value>
          {{ statistic.ball.speedY | number : "1.2-2" }} m/s
        </ng-container>
      </ui-statistic-line>
      <ui-statistic-line *ngIf="statistic.ball.hasOwnProperty('altitude')">
        <ng-container label>Altitude</ng-container>
        <ng-container value>
          {{ statistic.ball.altitude | number : "1.1-1" }} m
        </ng-container>
      </ui-statistic-line>
    </ui-statistic>
  </ng-container>
</div>

<tick-canvas [sizeX]="sizeX" [sizeY]="sizeY"></tick-canvas>
